<h3><%= @actor[:name] %></h3>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><a href="/movies/<%= character['movie_id'] %>"><%= character['movie'] %></a></td>
        <td><%= character['role'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
